.modal-overlay-Brand {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-Brand {
    background: white;
    padding: 20px;
    border-radius: 4px;
    width: 300px;
    text-align: center;
}

.modal-buttons-Brand {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.modal-buttons-Brand button {
    padding: 10px 20px;
    border: 1px solid transparent; /* Добавляем прозрачную рамку */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s; /* Добавляем переход для цвета фона и рамки */
}

.modal-buttons-Brand button:hover {
    background-color: #4CAF50; /* Зеленый цвет фона при наведении */
    border-color: #4CAF50; /* Зеленая рамка при наведении */
    color: white; /* Белый цвет текста при наведении */
}

.modal-buttons-Brand button.cancel-button-Brand {
    border: 1px solid #F44336; /* Красная рамка */
    color: #F44336; /* Красный цвет текста */
}

.modal-buttons-Brand button.cancel-button-Brand:hover {
    background-color: #F44336; /* Красный цвет фона при наведении */
    border-color: #F44336; /* Красная рамка при наведении */
    color: white; /* Белый цвет текста при наведении */
}
.modal-buttons-Brand button.cancel-button2-Brand {
    border: 1px solid #22cd0b; /* Красная рамка */
    color: #22cd0b; /* Красный цвет текста */
}

.modal-buttons-Brand button.cancel-button2-Brand:hover {
    background-color: #22cd0b; /* Красный цвет фона при наведении */
    border-color: #22cd0b; /* Красная рамка при наведении */
    color: white; /* Белый цвет текста при наведении */
}