.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 20px;
  }
  
  .product-card {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
    text-align: center;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
  }
  
  .product-card p {
    margin: 10px 0;
  }
  .product-list-container {
    padding: 10px;
  }

  .filter-buttons {
    display: flex;
    gap: 20px; 
    margin-bottom: 20px;
   
  }
  .filter-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }